.container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 90%;
    height: auto;
    border-radius: 1rem;
    background-color: #131313;
}

/*Tablet Version*/
@media (min-width: 769px) {
    .container {
        width: 50%;
    }
}

/*Laptop Version*/
@media (min-width: 1025px) {
    .container {
        width: 40%;
    }
}
